params {
    input = null
    reference = null
    truth_vcf = null

    reference_assembly = 'test'
    reference_species = 'synthetic'

    run_deepvariant = false
    deepvariant_model_type = 'WGS'
    deepvariant_regions = 'chrTest:1-10000'

    outdir = 'results'
    check_files = true
}

process {
    executor = 'local'
    errorStrategy = 'terminate'

    withLabel: process_low {
        cpus = 2
        memory = '2 GB'
        time = '30m'
    }

    withLabel: process_medium {
        cpus = 2
        memory = '4 GB'
        time = '30m'
    }

    withLabel: process_deepvariant {
        cpus = 2
        memory = '6 GB'
        time = '2h'
        maxForks = 1
    }
}

profiles {
    standard {
        docker.enabled = false
    }

    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
}
