params {
    input = null
    reference = null
    outdir = 'results'
    check_files = true
}

process {
    executor = 'local'
    errorStrategy = 'terminate'

    withLabel: process_low {
        cpus = 2
        memory = '2 GB'
        time = '30m'
    }

    withLabel: process_medium {
        cpus = 2
        memory = '4 GB'
        time = '30m'
    }
}

profiles {
    standard {
        docker.enabled = false
    }

    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
}
